$topmangas_width: 70vw;
$topmangas_height: 40vw;
$topmangas_padding: 1vw;
$topmangas_border: 0.5vw;
$top1Manga_border: 0.3vw;
$top1manga_width: ($topmangas_width - $topmangas_padding * 2 - $topmangas_border * 2) / 12 * 5;
$top1manga_height: ($topmangas_height - $topmangas_padding * 2  - $topmangas_border * 2);
$othertopmangaContainer_border: 0.5vw;
$othertopmangaContainer_width: $topmangas_width - $top1manga_width - 2 * $topmangas_padding - 2 * $topmangas_border;
$othertopmangaContainer_height: ($topmangas_height - 2 * $topmangas_padding - 2 * $othertopmangaContainer_border) / 2;
$othertopmanga_border: 0.5vw;
$othertopmanga_maxwidth: ($othertopmangaContainer_width - 2 * $othertopmangaContainer_border) / 3;
$othertopmanga_maxheight: ($othertopmangaContainer_height - 2 * $othertopmangaContainer_border);
$imgcovertopmanga_maxwidth: $othertopmanga_maxwidth - 2 * $othertopmanga_border; 
$imgcovertopmanga_maxheight: $othertopmanga_maxheight - 2 * $othertopmanga_border;

.topMangaComponentContainer {
  margin-top: 5vw;
  border: 5px solid #E97777;
  margin-left: 15vw;
  margin-right: 15vw;
  background-color: #FFFAD7;

  .extraComponentInTopManga {
    .topMangaLabel {
      font-family: "Quicksand", sans-serif;
      font-weight: bold;
      font-size: 2rem;
    }
    .btn {
      font-family: "Quicksand", sans-serif;
      font-size: 1.2rem;
      width: 10rem;
      height: 3rem;
      margin-right: 0.5vw;
      border-bottom: 0.2vw solid #ffdee7;
      border-radius: 0rem;
      margin-bottom: 1vw;
      background-color: white;

      -webkit-transition: background-color 0.3s ease-in, border-radius 0.5s ease-in;
      -moz-transition: background-color 0.3s ease-in, border-radius 0.5s ease-in;
      -o-transition: background-color 0.3s ease-in, border-radius 0.5s ease-in;
      transition: background-color 0.3s ease-in, border-radius 0.5s ease-in;
    }
  }

  .col-md-5 {
    padding: 0vw !important;
    text-align: left;
    margin: auto 0 !important;
  }

  .col-md-4 {
    padding: 0vw !important;
    margin: auto 0 !important;
    text-align: center;
  }

  .topMangaContainer {
    margin: 0 auto !important;
    width: $topmangas_width;
    height: $topmangas_height;
    padding: $topmangas_padding;
    border: $topmangas_border solid none;
    border-radius: 3rem;
    // background-color: #bfe9ff;

    .top1Manga {
      max-width: $top1manga_width;
      max-height: $top1manga_height;
      border: $top1Manga_border solid #7FE9DE;
      border-radius: 3rem;
    }

    .otherTopManga {
      padding: 0vw !important;
      border: $othertopmanga_border solid none;
      max-width: $othertopmanga_maxwidth;
      max-height: $othertopmanga_maxheight;
    }
    
    .imgcoverTopManga {
      max-width: $imgcovertopmanga_maxwidth;
      max-height: $imgcovertopmanga_maxheight;
      border: 0.1vw solid #FF9F9F;
      border-radius: 1rem;
    }

    .belowTopMangaContainer {
      width: $othertopmangaContainer_width;
      height: $othertopmangaContainer_height;
      border: $othertopmangaContainer_border solid none;
    }
    
    .underTopMangaContainer {
      width: $othertopmangaContainer_width;
      height: $othertopmangaContainer_height;
      border: $othertopmangaContainer_border solid none;
    }
  }
}