@keyframes changeBackgroundOfDirectButton {
  0% {
      background-color: #ffffff;
      color: #000;
      border: 1px solid #e1e1e1;
  }
  100% {
      background-color: #ed1c24;
      color: #ffffff;
      border: 1px solid #ed1c24;
  }
}

.banner {
  position: static;
  height: 34.9vw;
  .img {
    position: absolute;
    min-width: 98.9vw;
    max-width: 98.9vw;
    min-height: 34.9vw;
    max-height: 34.9vw;

    -webkit-transition: opacity 0.7s ease-in;
    -moz-transition: opacity 0.7s ease-in;
    -o-transition: opacity 0.7s ease-in;
    transition: opacity 0.7s ease-in;

    opacity: 0;
  }
}

.countDownClock {
  display: none;
}

.bannerContainer {
  position: relative;

  .transitionBannerButton {
    position: absolute;
    background-color: #000;
    border: none;
    cursor: pointer;
    border-radius: 30%;
  }

  .directToConsecutiveBannerButton {
    top: 50%;
    width: 40px;
    height: 40px;
    font-family: "Quicksand", sans-serif;
    border: 1px solid #e1e1e1;
    color: #000000;
    font-weight: bold;
    font-size: 1.3rem;
    
    animation-duration: 0.3s; 
    animation-timing-function: linear; 
    animation-delay: 0ms; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal; 
    animation-play-state: running; 

    &:hover {
      animation-name: changeBackgroundOfDirectButton;
    }
  }

  .previousBannerButton {
    left: 2%;
    transform: scale(0);
  }
  
  .nextBannerButton {
    right: 2%;
    transform: scale(0);
  }

  .specificBannerIdTransitionContainer {
    position: absolute;
    display: flex;
    bottom: 5%;
    left: 50%;
    cursor: pointer;
    transform: translateX(-50%);
    
    .specificBannerIdTransitionButton{
      border-inline: 2px solid #e1e1e1;
      border: 2px solid #e1e1e1;
      
      height: 1rem;
      width: 1rem;

      margin: 0 2px;
      border-radius: 35%;

      -webkit-transition: background-color 0.5s ease-in;
      -moz-transition: background-color 0.5s ease-in;
      -o-transition: background-color 0.5s ease-in;
      transition: background-color 0.5s ease-in;
    }
  }
}